* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  background-color: hsl(30, 38%, 92%);
  height: 100vh;
  margin: 0;
  display: flex;
}

.card {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 40vw;
  background-color: white;
  border-radius: 1rem;
  border: hsl(30, 38%, 92%) 1px solid;
}

.preview-gabielle-picture img {
  display: block;
  width: 100%;
  height: 100%;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.preview-gabielle-content {
  display: flex;
  flex-direction: column;
}

@media (max-width: 600px) {
  .card {
    flex-direction: column;
  }
}

.add-to-cart-cta {
  border-radius: 5%;
  padding: 0.5rem;
  color: white;
  background-color: hsl(158, 36%, 37%);
}
